.buttons{
    background-color:black;
    color: cornsilk;
    height: 55px;
    width: 52px;
    font-size: 26px;
    padding: auto;
    border: none;
}
.buttonsup{
    background-color:#1a74e9;
    color: cornsilk;
    height: 55px;
    width: 52px;
    font-size: 18px;
    padding: auto;
    border: none;
}